<div class="list-group">
    <div>
        <a class="btn btn-info" [routerLink]="['/collectible/edit/0']" >New Collectible</a>
    </div>
    <br/>

    <a class="list-group-item" *ngFor="let collectible of collectibles | async">
        <div class="input-group">
            {{ collectible.Title }}
            <span class="input-group-btn">
                <button [routerLink]="['/collectible', collectible.Id]" class="btn btn-info" type="button">View</button>
                <button (click)="onDelete(collectible.Id)" class="btn btn-danger" type="button">Delete</button>
            </span>
    </div>
    </a>
</div>
<router-outlet></router-outlet>
