
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Collectible Form
                </div>
                <div class="panel-body">
                    <form (submit)="save()">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input name="title" [(ngModel)]="collectible.Title" type="text" class="form-control" id="title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <div>
                                <textarea class="form-control" name="description" rows="5" [(ngModel)]="collectible.Description" id="description" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type">Collectible Type</label>
                            <select name="type" class="form-control" id="type" [(ngModel)]="collectible.TypeId" required>
                                <option *ngFor="let type of types" [value]="type.Id">{{type.Name}}</option>
                            </select>
                        </div>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
