
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ collectibleDetails.Title }}
                </div>
                <div class="panel-body">
                    <h4>Collectible Type</h4>
                    <p>{{collectibleType.Name}}</p>
                    <br />
                    <h4>Description</h4>
                    <p>{{collectibleDetails.Description}}</p>
                    <a [routerLink]="['/collectible/edit/' + collectibleDetails.Id]">Edit</a>
                </div>
            </div>
        </div>
